.navbar {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  background-color: rgba(116, 69, 255, 0.5); /* Adjust opacity as needed */
  backdrop-filter: blur(5px); /* Adjust blur amount as needed */
  z-index: 10; /* Ensure the navbar stays on top of other content */
  padding: 10px 20px; /* Adjust padding as per your design */
  border-bottom: 1px solid white ;

}

.navdrop{
  background-color: rgba(162, 138, 236, 0.9); 
  backdrop-filter: blur(20px);
}


/* @media(max-width: 768px) {
  .navdrop {
      background-color: none;
      backdrop-filter: none; 
  }
} */

.navbar {
  z-index: 30; /* Lower than the modal */
}

.navdrop {
  z-index: 10;
}